body {
  background-color: antiquewhite;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: orange;
}

header {
  display: flex;
  background-color: black;
  margin: 0px;
  padding: 8px 16px;
  font-size: 64px;
  color: orange;
  letter-spacing: -0.11em;
}

nav {
  display: inline;
  margin-left: auto;
}

#profiles {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  border: white 3px solid;
}

.profile {
  width: 320px;
  height: 240px;
  padding: 4px;
  background-color: black;
  border: white 3px solid;
}

.profile img {
  width: 160px;
  border-radius: 50%;
}

.error {
  color: black;
  background-color: red;
}

#searched {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  width: 320px;
  height: 240px;
  /* background-color: white; */
  color: orange;
}

#details {
  list-style: none;
}

#display {
  display: flex;
  padding: 8px;
}


#login {
  display: inline;
}

